
body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto';

}

.illustration {
    padding-top: 30px;
    display: flex;
    gap: 30px;
}

.ct {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 0 200px;

}
.header2 {
    display: flex;
    align-items:center ;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.hd-rt {
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: #8e9096;
    font-weight: 100;
    list-style-type: none;
}

.container-one {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 48px;
    padding: 50px 0px;
    
    
}


.container-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
    padding-top: 30px;
}

.container-three{
    align-items: center;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.container-for{
    display: flex;
    flex-direction: column;
    padding: 80px;
}



.p, .img {
    font-size: 18px;
    
}

.img {
    display: flex;
    align-items: center;
    background-color: #8e9096;
    padding: 100px 150px;
    
}

.text {
    align-items:center;
    padding-left: 200px;
    padding-right: 130px;
    
    
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

h4, p {
    margin: 0px;
}

.btn {
    border: none;
    font-size: 14px;
    border-radius: 5px;
    background-color: #3888f2;
    padding: 8px 35px;
    font-weight: bold;
    color: #F9FAF8;
}


.image {
    width: 150px;
    height: 150px;
    border-color: #3888F2;
    border-radius: 20px;
    border-width: 4px;
    border-style: solid;
    
}


h6 {
    margin: 0px;
    text-align: center;
    color: #8e9096;
    font-size: 16px;
}


.txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    width: 760px;
    
}

.thor {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: bolder;
    text-align: right;
    min-width: 760px;
    justify-content: end;
}


